<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="subscribers" class="nav-link" routerLinkActive="active">Subscribers</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Add Subscriber</a>
    </li>
    <li class="nav-item">
      <a routerLink="check" class="nav-link" routerLinkActive="active">Subscription Check</a>
    </li>
  </ul>
</nav>



<div class="container">
  <h2 style="text-align: center;">{{title}}</h2>
  <div class="card">
    <div class="card-body">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
