<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title" i18n>Subscribers List </h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col" i18n>subscriber Id</th>
                <th scope="col" i18n>Name</th>
                <th scope="col" i18n>Phone Number</th>
                <th scope="col" i18n>Starting Date</th>
                <th scope="col" i18n>Ending Date</th>
                <th scope="col" i18n>Status</th>
                <th scope="col" i18n>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let subscriber of subscribers | async">
                <td>{{subscriber.id}}</td>
                <td>{{subscriber.subscriberId}}</td>
                <td>{{subscriber.name}}</td>
                <td>{{subscriber.phoneNumber}}</td>
                <td>{{subscriber.startOfSubscription}}</td>
                <td>{{subscriber.endOfSubscription}}</td>
                <td *ngIf="today(subscriber.endOfSubscription);then active else notActive"></td>
                <ng-template #active><td><a class="text-success">Active</a></td></ng-template>
                <ng-template #notActive><td><a class="text-danger" >Not Active</a></td></ng-template>
                <td>
                  <button (click)="deleteSubscriber(subscriber.id)" class="btn btn-danger">Delete</button>
                  <button (click)="updateSubscriber(subscriber.id)" class="btn btn-info">Update</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

