<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Subscribers List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">subscriber Id</th>
        <th scope="col">Subscription Starting Date</th>
        <th scope="col">Subscription Ending Date</th>
        <th>Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subscriber of subscribers | async">
        <td>{{subscriber.id}}</td>
        <td>{{subscriber.firstName}}</td>
        <td>{{subscriber.subscriberId}}</td>
        <td>{{subscriber.startOfSubscription}}</td>
        <td>{{subscriber.endOfSubscription}}</td>
        <td *ngIf="today(subscriber.endOfSubscription);then active else notActive"></td>
        <ng-template #active><span class="badge badge-success" style="margin-top: 30px;height: 30px;width: 70px;">Active</span></ng-template>
        <ng-template #notActive><span class="badge badge-danger" style="margin-top: 30px;height: 30px;width: 70px">Not Active</span></ng-template>
        <td>
          <button (click)="deleteSubscriber(subscriber.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateSubscriber(subscriber.id)" class="btn btn-info" style="margin-left: 10px">Update
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

